@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px) { /* TABLET */
    header > h1 {
        font-size: 6em;
    }

    nav.navegacao a {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1200px) { /* DESKTOP / TELAS GRANDES */
    header {
        background: url('../imagens/back-header-2-g.jpg');
        background-position:  center center;
    }

    header > h1 {
        font-size: 6em;
    }

    nav.navegacao a {
        font-size: 1.9em;

        padding: 3px;
    }

}