@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #F2C12E;
    --cor2: #F2A81D;
    --cor3: #F27830;
    --cor4: #D92B2B;
    --cor5: #F2F2F2;
    --cor6: #005978;

    --font-titulos: 'Poppins', sans-serif;
    --font-sub-tit: 'Roboto Slab', serif;
    --font-conteudo:'Josefin Sans', sans-serif;
}

body {
    background-color: var(--cor5);
}

header {
    background: var(--cor3) url('../imagens/back-header-2-p.jpg') no-repeat;
    background-position: top center;
    background-size: cover; 
    box-shadow: inset 0px 0px 20px black;
    
    height: 280px;
}

header > h1 {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-size: 4.5em;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);
    color: var(--cor5);
    background-color: rgba(0, 0, 0, 0.308);
    justify-content: center;
    align-items: center;

    height: 100%;
    display: flex;
}

nav.navegacao {
    background-color: var(--cor1);
    text-align: center;
    box-shadow: 0px 2px 0px rgba(204, 123, 18, 0.589);

    padding: 10px;
}

nav.navegacao a {
    font-family: var(--font-conteudo);
    font-weight: bolder;
    color: black;
    text-decoration: none;
    font-size: 1.4em;

    margin-left: 7px;
    position: relative;
}

nav.navegacao a::after {
    content: " ";
    background-color: black;
    width: 0%;
    height: 3px;
    bottom: 0%;
    left: 0%;

    position: absolute;
    transition: 0.5s ease-in-out;
}

nav.navegacao a:hover::after {
    width: 100%;
    background-color: var(--cor4);
}

section.apresentacao {

    align-items: center;
    flex-direction: column;  
    text-align: center;    

    width: 100%;
    padding: 7px;
    margin-top: 10px;
    display: flex;
}

img#img_fred {display: block;}
img#img_fred2 {display: none;}

div.conteudo_p {
    
    width: 56%;
    margin-top: 10px;
    display: block;
}

div.conteudo_p p {
    background-color: var(--cor2);
    text-align: justify;
    font-family: var(--font-conteudo);
    font-weight: bolder;
    font-size: 1.7em;
    border-radius: 7px 20px;
    border-left: 2px solid var(--cor4);
    border-right: 2px solid var(--cor4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);

    padding: 10px;
}

section.conteudo_sistema {
    background-color: var(--cor3);

    padding: 10px;
    margin-top: 20px;
}

fieldset.mercadoria {

    background-color: var(--cor1);
    border: 2px solid var(--cor2);
    border-radius: 20px;

    padding: 10px;
    width: 65%;
    display: block;
    margin: auto;
    margin-top: 15px;

}

fieldset.mercadoria_grande {
    margin-top: 50px;
}

legend.legenda {
    font-family: var(--font-titulos);
    color: white;
    background-color: var(--cor3);
    border-radius: 10px;
    border-top: 2px solid var(--cor1);
    border-left: 2px solid var(--cor1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);


    padding: 3px;
}

div.cont_lab_inp {
    background-color: var(--cor3);
    border-radius: 10px;
    color: white;
    font-family: var(--font-sub-tit);
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.356);

    margin-top: 8px;
    padding: 7px;
}

div.cont_lab_inp label {
    font-size: 1.2em;
}

div.cont_lab_inp input {

    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.589);
    text-align: center;
    font-weight: bolder;
    font-size: 1em;

    width: 40px;
    padding: 3px;
    transform: translateY(-2px);
}

div.botao {
    text-align: center;

    margin-top: 15px;
}

div.botao input {

    font-family: var(--font-sub-tit);
    font-weight: bolder;
    font-size: 1.1em;
    background-color: var(--cor1);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.5s;

    padding: 5px;
    width: 100px;
}

div.botao input:hover {
    background-color: var(--cor2);
    transform: translateY(-1px);
}

section.dados {
    background-color: var(--cor1);
    padding: 10px;

    display: block;
}

div.saida_dados {
    background-color: var(--cor3);
    border-radius: 20px;

    padding: 10px;
    margin-top: 10px;
    width: 300px;
}

div.saida_dados p {
    font-family: var(--font-conteudo);
    font-weight: bolder;
    font-size: 1.3em;
}

div.saida_dados output {
    background-color: var(--cor2);
    border-radius: 10px;
    font-family: var(--font-titulos);
    font-weight: 500;

    padding: 5px;
}